<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mongify</title>
    <meta name="description" content="SQL to NoSQL convertor">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

</head>

<body>

    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Mongify</h1>
                <h3>SQL to NoSQL converting done right</h3>
            </div> 
        </div> 
    </header>

        <div class="container">
            <form action="" method="post">
                <div class="row form-group has-success has-feedback">
                    <div class="line-sm-6">
                      <label>Enter your SQL connection details:</label>
                    </div>
                    <div class="col-sm-6">
                        <label for="element-2" class="control-label">Adapter:</label>
                        <input type="text" id="element-2" class="form-control" name="adapter_sql" required="true">
                        <label for="element-2" class="control-label">Host:</label>
                        <input type="text" id="element-2" class="form-control" name="host_sql" required="true">
                        <label for="element-2" class="control-label">Username:</label>
                        <input type="text" id="element-2" class="form-control" name="username_sql" required="true">
                        <label for="element-2" class="control-label">Password:</label>
                        <input type="text" id="element-2" class="form-control" name="password_sql" required="true">
                        <label for="element-2" class="control-label">Database:</label>
                        <input type="text" id="element-2" class="form-control" name="database_sql" required="true">
                    </div>
                </div>
                
                <div class="row form-group has-success has-feedback">
                    <div class="line-sm-6">
                      <label>Enter your SQL connection details:</label>
                    </div>
                    <div class="col-sm-6">
                        <label for="element-2" class="control-label">Host:</label>
                        <input type="text" id="element-2" class="form-control" name="host_nosql" required="true">
                        <label for="element-2" class="control-label">Database:</label>
                        <input type="text" id="element-2" class="form-control" name="database_nosql" required="true">
                    </div>
                </div>
                <div class="row form-group has-success has-feedback">
                    <div class="col-sm-2 form-group">
                      <label for="element-2" class="control-label">&nbsp;</label>
                      <button type="submit" class="btn btn-success form-control">Add Migration Config</a>
                      
                    </div>
                </div>
            </form>

            <hr>

            <form action="configfile" method="post">
              <div style="max-height: 600px; overflow: auto;">

                  <table class="table table-striped">
                    <tr><b>Databases</b></tr>
                    <% FOREACH database in databases %>
                      <tr>
                        <td class="col-sm-1"><input type="radio" name="database_id" value="<%database.id%>"></td>
                        <td class="col-md-1" style="display:none"><b><%database.id%></b></td>
                        <td class="col-md-1"><b>SQL Database: <%database.sql_database%></b></td>
                        <td class="col-md-1"><b>SQL Adapter: <%database.sql_adapter%></b></td>
                        <td class="col-md-1"><b>SQL Host: <%database.sql_host%></b></td>
                        <td class="col-md-1"><b>SQL Username: <%database.sql_username%></b></td>
                        <td class="col-md-1"><b>SQL Password: <%database.sql_password%></b></td>
                        <td class="col-md-1"><b>Mongo Host: <%database.mongo_host%></b></td>
                        <td class="col-md-1"><b>Mongo Database: <%database.mongo_database%></b></td>
                      </tr>
                    <% END %>
                  </table>
                  <table class="table table-striped">
                    <tr><b>Converted Databases</b></tr>
                    <% FOREACH database in history_databases %>
                      <tr>
                        <td class="col-sm-1"><input type="radio" name="history_id" value="<%database.id%>"></td>
                        <td class="col-md-1" style="display:none"><b><%database.id%></b></td>
                        <td class="col-md-1"><b>SQL Database: <%database.sql_database%></b></td>
                        <td class="col-md-1"><b>SQL Adapter: <%database.sql_adapter%></b></td>
                        <td class="col-md-1"><b>SQL Host: <%database.sql_host%></b></td>
                        <td class="col-md-1"><b>SQL Username: <%database.sql_username%></b></td>
                        <td class="col-md-1"><b>SQL Password: <%database.sql_password%></b></td>
                        <td class="col-md-1"><b>Mongo Host: <%database.mongo_host%></b></td>
                        <td class="col-md-1"><b>Mongo Database: <%database.mongo_database%></b></td>
                      </tr>
                    <% END %>
                  </table>    
              </div>

              <div class="row form-group has-success has-feedback">
                <div class="col-sm-2 form-group">
                  <label for="element-2" class="control-label">&nbsp;</label>
                  <button type="submit" class="btn btn-success form-control">Generate config file</a>
                  <br>
                  <button type="submit" class="btn btn-danger form-control" name="delete" value="1">Delete Migration Config</a>
                </div>
              </div>
            </form>

            <hr>

            <form action="logout" method="get">
              <div class="row form-group has-success has-feedback">
                    <div class="col-sm-2 form-group">
                      <label for="element-2" class="control-label">&nbsp;</label>
                      <button type="submit" class="btn btn-success form-control">Logout</a>
                    </div>
                </div>
            </form>

            <!-- <hr> -->

            <!-- <div>
                <a href="" class="btn btn-success btn-md pull-right">Convert!</a>
            </div> -->

        </div>


    <footer>
        <div class="container">
            <hr>

            <p>
                <small><a href="https://github.com/flaviu-mates/Licenta">Track</a> GitHub repository</small></p>
        </div> <!-- end container -->
    </footer>
        
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body> 
</html>