<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mongify</title>
    <meta name="description" content="SQL to NoSQL convertor">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

</head>

<body>

    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Mongify</h1>
                <h3>SQL to NoSQL converting done right</h3>
            </div> 
        </div> 
    </header>

        <div class="container">

            <form action="/login" method="post" class="form-inline">
                <div class="form-group">
                    <label for="element-3" class="sr-only">This is the text of the label</label>
                    <input type="text" name="user" id="element-3" class="form-control input-lg" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="element-4" class="sr-only">This is the text of the label 2</label>
                    <input type="password" name="password" id="element-4" class="form-control input-lg" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">Log In </button>
                <h>or</h>
                <a href="/signup" class="btn btn-primary">Sign Up </a>

            </form>

        </div>


    <footer>
        <div class="container">
            <hr>

            <p>
                <small><a href="https://github.com/flaviu-mates/Licenta">Track</a> GitHub repository</small></p>

        </div> <!-- end container -->
    </footer>
        
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body> 
</html>